:root {
  --clr-foreground: hsl(0, 14%, 91%);
  --clr-background: hsl(0, 0%, 16%);
  --clr-background-secondary: hsla(0, 0%, 10%);
  --clr-accent: hsl(177, 79%, 52%);
  --clr-accent-secondary: hsla(186, 100%, 10%, 1);
  --clr-red: hsla(7, 80%, 49%, 1);

  --font-sm: 0.75rem;
  --font-lg: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--clr-foreground);
  background-color: var(--clr-background);
  font-family: sans-serif;
  padding: 1.25rem 0.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.8em 1.5em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: var(--clr-accent);
  box-shadow: 0 0 15px var(--clr-accent);
}

input {
  transition: all 0.3s ease-in-out;
}
input:focus {
  outline: none;
  background-color: var(--clr-accent);
}
