.offersList {
  --offer-height: 10rem;

  display: block;
  list-style-type: none;
  width: 100%;
  height: 650px;
  overflow-y: auto;
  padding-right: 1rem;
  /* box-shadow: 0 0 5px white; */
}

.averagePrice {
  color: var(--clr-accent);
}

.noOffers {
  color: red;
  font-size: var(--font-lg);
  font-weight: 700;
  font-style: italic;
}

.offer {
  text-decoration: none;
  width: 100%;
  height: var(--offer-height);
  background-color: var(--clr-background-secondary);
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  /* border-radius: 8px; */
  overflow: hidden;
  margin: 1rem 0;
  border-left: 1px solid white;
}
.offer:first-child {
  margin-top: 0;
  border-top-left-radius: 8px;
  border-top: 1px solid white;
}
.offer:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 8px;
  border-bottom: 1px solid white;
}

.offer:hover {
  background-color: var(--clr-accent-secondary);
}

.offer a {
  text-decoration: none;
  color: var(--foreground);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.offerImage {
  width: 15rem;
  height: var(--offer-height);
}

.offerData {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  flex: 1;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  width: 100%;
}
.dataContainer:first-child {
  justify-content: space-between;
  flex-direction: row;
}

.dataContainer h3 {
  max-width: 80%;
}

.saveIcon {
  position: absolute;
  right: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.saveIcon:hover {
  stroke: var(--clr-red);
  fill: var(--clr-red);
  transform: scale(1.2);
  filter: drop-shadow(0 0 7px var(--clr-red));
}

.saved {
  fill: var(--clr-red);
  stroke: var(--clr-red);
}

.price {
  color: green;
  font-weight: 600;
}

.dataContainer > span {
  font-size: var(--font-sm);
  font-style: italic;
}
