.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.container * {
  flex: 1;
}

.input_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  position: relative;
  width: 100%;
}

.input_wrapper input {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 12px 10px 42px;
  width: 100%;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.btnDisplay {
  background-color: var(--clr-red);
}
